.hero-unit {
    padding-top: 30px;
    margin-bottom: 0;
}
.program-name {
    font-weight: bold;
}
.program {
    padding: 0px 0;
}
input {
    margin: 0 !important;
}
input[type="button"] {
    margin-top: 10px !important;
}
* {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}
.period {
    font-style: italic;
}
