.hero-unit {
    padding-top: 30px;
    margin-bottom: 0;
}
.ui-widget-header, .ui-datepicker-calendar td a {
    background: #eee !important;
}
.nav {
    margin-bottom: 0;
}
#summaryBar {
    margin: 5px;
}
.nav-tabs {
    border-bottom: none;
}
textarea {
    resize: none;
    width: 475px;
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 4px;
}
#summaryReport {
    height: 145px;
}
.program-name, #summary {
    font-weight: bold;
}
.well-small {
    padding: 0;
    padding-bottom: 5px;
}
.program {
    padding: 0px 0;
}
input {
    margin: 0 !important;
}
input[type="button"] {
    margin-top: 10px !important;
}
input[type="number"] {
    text-align: right;
}
* {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}
.period {
    font-style: italic;
}
.dropdown-menu a:hover, .dropdown, .hasDatepicker {
    cursor: pointer !important;
}
